@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
body
{background-color: beige;

}
.container {
background-image: url(penguin_magazine_layout.pdf);
background-size: cover;
height:700px;
margin: 40 auto;
width:100%;
}
h1 {font-family: 'Oswald', sans-serif;

}
