@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
body {font-family: 'Oswald', sans-serif;

background-color: beige;
}
.padding-hover:hover {
  background-color: lightpink;
  color:black;
  text-decoration:underline;

}


button {
  background-color: salmon;
  color: white;


}
